body { 
    font-family: sans-serif; 
    margin: 0; 
}
div { 
    /*white-space: nowrap;*/
}
#lfmp {
    background: #FFFFFF; 
}
#lfmp-cover { 
    float: left; 

    margin-top: 5px;
    margin-bottom: 5px;
}
#lfmp-header { 
    background-image: url("/data/header.png"); 
    color: white; 
    font-weight: bold; 
    height: 30px;
}
#lfmp-header a {
    color: white; 
}
#lfmp-version {
    float: right;
    padding: 9px;
    font-weight: normal;
    font-size: small;
}
#lfmp-main {
    color: black; 
}
#lfmp-main a {
    color: black; 
}
#lfmp-main img {
    vertical-align: bottom;
}
#lfmp-station {
    float: left;
    padding: 9px;
    font-weight: normal;
    font-size: small;
}

#lfmp-artiststations {
    font-size: small;
    color: #91998e;
    padding:10px;
}
#lfmp-artiststations a {
    color: #91998e;
}
#lfmp-footer {
    background-image: url("/data/footer.png"); 
    color: black; 
    clear: both;
    padding: 8px;
    height: 20px;
}
#lfmp-footer a {
    color: white; 
}
#lfmp-bookmarks {
    float: right;
    padding: 0;
    font-size: small;
}
#lfmp-lasttracks {
    float: right;
    /*
    padding: 5px;
    */
    color: #91998e;
    font-weight: bold;
}
#lfmp-lasttracks a {
    color: #91998e; 
}
#lfmp-lasttracks ul {
    margin-top: 0px;
    /*margin-left: 16px;
     * */
    padding: 0px;
    font-weight: normal;
    font-size: small;
}
.lfmp-shortcut {
    text-decoration: underline;
}
form {
    margin: 0;
}
